node_modules/
dist/
build/
coverage/
.env*
!.env*.example
*.log
.DS_Store
data/*.sqlite
data/*.sqlite-*
data/*.sqlite-shm
data/*.sqlite-wal
data/images/*
!data/images/.gitkeep
apps/client/android/
apps/client/ios/
*.ipk
/apps/api/data/images
/apps/api/data
apps/api/data.rar
